@import "../bower_components/foundation/scss/normalize";
@import "foundation/_settings";
@import "compass/css3";
@import "typography";
@import "vars";
@import "flag-icon/flag-icon";

html, body {
  margin: 0 auto;
  padding: 0;
  word-break: keep-all;
  min-width: 300px;
  height: auto;
  background-color: $color-white;
  color: $color-dark-blue;
  font-family: $fonts_ko;
}

h1, h2, h3, h4, h5, h6, p, a, li, input, label, span {
  margin: 0;
  padding: 0;
  color: inherit;
  font-family: $fonts_ko;
}

p, input, label {
  font-size: rem-calc(16);
  line-height: rem-calc(25);
}

a:focus {
  color: inherit;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: inherit;
    text-decoration: none !important;
  }
}

.classic-link {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.underline-link {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

strong {
  font-weight: 700;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.uppercase {
  text-transform: uppercase;
}

.ialic {
  font-style: italic;
}

.no-margin {
  margin:0;
}

.no-padding {
  padding:0;
}

.clear:before,
.clear:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.clear:after {clear: both;}

.float-left {
  float: left;
}
.float-right {
  float: right;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline !important;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.no-list {
  margin: 0;
  list-style: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.check-form {
  .ng-invalid {
    border-color: red !important;
    @include transition(border-color .25s ease);
  }
}

.error {
  color: red !important;
  font-size: rem-calc(16);
  line-height: rem-calc(24);
  opacity: 1;
  @include transition(opacity .25s ease, line-height .25s ease);

  &.ng-hide {
    line-height: 0;
    opacity: 0;
  }
}

@import "layout";
@import "anim";
