<footer class="main-footer">
  <ul class="no-list">
    <li class="footer-col">
      <a href="http://www.facebook.com/Finnair" tracker-type="footer" tracker="facebook" target="_blank" class="row collapse">
        <span class="small-12 medium-6 columns text-center"><img src="/images/footer/footer-icon-facebook.png" alt="Icon"></span>
        <span class="small-12 medium-6 columns">Finnair Facebook</span>
      </a>
    </li>
    <li class="footer-col">
      <a href="http://twitter.com/finnair" tracker-type="footer" tracker="twitter" target="_blank" class="row collapse">
        <span class="small-12 medium-6 columns text-center"><img src="/images/footer/footer-icon-twitter.png" alt="Icon"></span>
        <span class="small-12 medium-6 columns">Finnair Twitter</span>
      </a>
    </li>
    <li class="footer-col">
      <a href="http://blog.finnair.com/en" tracker-type="footer" tracker="blog" target="_blank" class="row collapse">
        <span class="small-12 medium-6 columns text-center"><img src="/images/footer/footer-icon-buble.png" alt="Icon"></span>
        <span class="small-12 medium-6 columns">Finnair Blog</span>
      </a>
    </li>
    <li class="footer-col">
      <a href="http://www.youtube.com/finnair/" tracker-type="footer" tracker="youtube" target="_blank" class="row collapse">
        <span class="small-12 medium-6 columns text-center"><img src="/images/footer/footer-icon-youtube.png" alt="Icon"></span>
        <span class="small-12 medium-6 columns">Finnair Youtube</span>
      </a>
    </li>
    <li class="footer-col">
      <a href="http://www.finnair.com/kr/ko/flights/subscribe-to-finnair-newsletter" tracker-type="footer" tracker="newsletter" target="_blank" class="row collapse">
        <span class="small-12 medium-6 columns text-center"><img src="/images/footer/footer-icon-mail.png" alt="Icon"></span>
        <span class="small-12 medium-6 columns">Finnair Newsletter</span>
      </a>
    </li>
  </ul>
  <div class="clear"></div>
  <hr>
  <ul class="no-list">
    <li class="footer-col destination">
      <a href="http://www.finnair.com/kr/ko/destinations/europe" tracker-type="footer-destination" tracker="europe" target="_blank" class="row collapse">
        <span class="columns">
          <span class="destination-name">유럽</span>
          <img src="/images/footer/footer-destination-europe.jpg" alt="picture">
        </span>
      </a>
    </li>
    <li class="footer-col destination">
      <a href="http://www.finnair.com/kr/ko/destinations/asia-pacific" tracker-type="footer-destination" tracker="asia" target="_blank" class="row collapse">
        <span class="columns">
          <span class="destination-name">아시아 태평양</span>
          <img src="/images/footer/footer-destination-asia.jpg" alt="picture">
        </span>
      </a>
    </li>
    <li class="footer-col destination">
      <a href="http://www.finnair.com/kr/ko/destinations/finland" tracker-type="footer-destination" tracker="finland" target="_blank" class="row collapse">
        <span class="columns">
          <span class="destination-name">핀란드</span>
          <img src="/images/footer/footer-destination-finland.jpg" alt="picture">
        </span>
      </a>
    </li>
    <li class="footer-col destination">
      <a href="http://www.finnair.com/kr/ko/destinations/north-america" tracker-type="footer-destination" tracker="america" target="_blank" class="row collapse">
        <span class="columns">
          <span class="destination-name">북아메리카</span>
          <img src="/images/footer/footer-destination-america.jpg" alt="picture">
        </span>
      </a>
    </li>
    <li class="footer-col destination">
      <a href="http://www.finnair.com/kr/ko/destinations/middle-east" tracker-type="footer-destination" tracker="middleeast" target="_blank" class="row collapse">
        <span class="columns">
          <span class="destination-name">중동</span>
          <img src="/images/footer/footer-destination-middleeast.jpg" alt="picture">
        </span>
      </a>
    </li>
  </ul>
  <div class="clear"></div>
  <p class="text-center last-text"><strong>FINNAIR FLIGHTS AND DESTINATIONS</strong></p>
  <hr>
  <p class="text-center"><img src="/images/footer/footer-icon-finnair.png" alt="Finnair logo"></p>
</footer>