<article class="prizes">
  <h2 class="prize-title">이벤트에 참여하신 분들께는!</h2>
  <div class="row wrap-540">
    <div id="prize-1" class="columns large-12 prize">
      <p class="prize-people">1<span class="unity">명</span></p>
      <div class="prize-content">
        <p class="prize-name text-center">유럽 왕복항공권 <span class="prize-description"><br class="show-for-small-only">1인 2매</span></p>
      </div>
    </div>
    <div id="prize-2" class="columns large-12 prize">
      <p class="prize-people">2<span class="unity">명</span></p>
      <div class="prize-content">
        <p class="prize-logo"><img src="/images/prize/prize-bagage-logo.jpg" alt="logo"></p>
        <p class="prize-description">닷드랍스</p>
        <p class="prize-name">여행 캐리어 <span class="prize-detail">21inch</span></p>
      </div>
    </div>
    <div id="prize-3" class="columns small-12 medium-6 prize">
      <p class="prize-people">5<span class="unity">명</span></p>
      <div class="prize-content">
        <p class="prize-description">샤오미 슬림형</p>
        <p class="prize-name">보조배터리 <span class="prize-detail">16,000mAh</span></p>
      </div>
    </div>
    <div id="prize-4" class="columns small-12 medium-6 prize">
      <p class="prize-people">50<span class="unity">명</span></p>
      <div class="prize-content">
        <p class="prize-description">스타벅스</p>
        <p class="prize-name">아이스 카페라떼</p>
        <p class="prize-detail">Tall</p>
      </div>
    </div>
  </div>
</article>
<section class="row prize-date">
  <p>
    <img src="/images/prize/prize-trophee.png" alt="Trophee">
    <strong>당첨자 발표: </strong>
    7월 6일 페이스북 공지 (당첨자 개별연락)
  </p>
</section>