<section class="row home text-center">
  <article class="hero columns">
    <p><strong><img src="/images/header/header-logo.png" alt="Finnair"></strong></p>
    <h2 class="subtitle">친구야</h2>
    <h1 class="main-title">나랑 여행 갈래?</h1>
    <p><strong>2015년 여름,</strong></p>
    <p>누구와 어디로 떠나야 할까요?</p>
    <p><strong>핀에어가 찾아 드립니다!</strong></p>
    <br>
    <p>최고의 여행 파트너도 찾고,</p>
    <p><strong>유럽행 티켓의 기회도 잡으세요!</strong></p>
    <p><a href="#" class="my-btn" facebook-login>Start <span class="arrow"></span></a></p>
    <p class="date">이벤트 기간  <strong>6-8 ~ 6-26</strong></p>
  </article>
  <div class="columns" ng-include="'/partials/_like.html'"></div>
</section>
<div ng-include="'/partials/_prizes.html'"></div>
<div ng-include="'/partials/_footer.html'"></div>