<div ng-include="'/partials/_header.html'"></div>
<section class="row share wrap-540">
  <article class="columns text-center">
    <div class="fb-like fb-parse" data-href="https://www.facebook.com/finnairkorea" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
    <h3 class="share-title">
      참여해 주셔서 감사합니다!
    </h3>

    <section class="row prize-date">
      <p>
        <img src="/images/prize/prize-trophee.png" alt="Trophee">
        <strong>당첨자 발표: </strong>
        7월 6일 페이스북 공지 (당첨자 개별연락)
      </p>
    </section>

    <div class="row text-left">
      <div id="prize-1" class="columns large-12 prize">
        <div class="prize-content">
          <p class="prize-name text-center">유럽 왕복항공권 <span class="prize-description"><br class="show-for-small-only">1인 2매</span></p>
        </div>
      </div>
    </div>

    <p><a class="share-fb my-btn-white" href="#" share-fb-link="{{shareInfos.urlfb}}">
      <img src="/images/result/result-share.png" alt="Facebook"> Share on Facebook
    </a></p>

    <h3 class="lucky-title">당첨 확률을 높이는 <span>꿀팁</span>!</h3>

    <p class="last-text"><span class="special-number">1</span><strong> 페이스북의 친구가 된다!</strong> 이미 친구라면 OK!</p>
    <p class="last-text"><span class="special-number">2</span> 이벤트를 나의 <strong>타임라인에 공유한다!</strong></p>
  </article>
</section>
<section class="special-offers wrap-full">
  <div class="wrap-540">
    <h3 class="plane-title text-center">유럽행 특가상품</h3>
    <article class="row offer">
      <div class="columns medium-6 small-12 offer-image-container">
        <img class="offer-image" src="/images/finnish/spain.jpg" alt="Special offer">
      </div>
      <div class="columns medium-6 small-12 offer-content">
        <h2 class="offer-title">스페인 마드리드</h2>
        <p class="offer-description">"하루가 짧게 느껴질 정도로, 다양한 문화가 공존하고 있는
          '스페인 마드리드' 에서 플라멩코 공연과 함께 열정적인 밤 문화를 꽃 피우세요"</p>
        <p><a class="offer-link" href="http://www.finnair.com/kr/ko/destinations/europe/spain/madrid?utm_source=Spain&utm_medium=specialoffer&utm_campaign=2015summer" target="_blank" tracker-type="finnish-learnmore" tracker="spain">자세히 보기 <span class="arrow"></span></a></p>
      </div>
    </article>
    <article class="row offer">
      <div class="columns medium-6 small-12 offer-image-container">
        <img class="offer-image" src="/images/finnish/belgium.jpg" alt="Special offer">
      </div>
      <div class="columns medium-6 small-12 offer-content">
        <h2 class="offer-title">벨기에 브뤼셀</h2>
        <p class="offer-description">"멋진 건축물과 다양한 문화, 맛있는 음식을 경험할 수 있는 도시
          '벨기에 브뤼셀'은 유럽에서 가장 아름다운 광장을 갖고 있답니다."</p>
        <p><a class="offer-link" href="http://www.finnair.com/kr/ko/destinations/europe/belgium/brussels?utm_source=belgium&utm_medium=specialoffer&utm_campaign=2015summer" target="_blank" tracker-type="finnish-learnmore" tracker="belgium">자세히 보기 <span class="arrow"></span></a></p>
      </div>
    </article>
    <article class="row offer">
      <div class="columns medium-6 small-12 offer-image-container">
        <img class="offer-image" src="/images/finnish/finland.jpg" alt="Special offer">
      </div>
      <div class="columns medium-6 small-12 offer-content">
        <h2 class="offer-title">핀란드 헬싱키</h2>
        <p class="offer-description">"순수한 자연으로 둘러싸인 빛의 도시 ‘핀란드 헬싱키’에서
          매력적인 북유럽 디자인과 문화를 느껴보세요"</p>
        <p><a class="offer-link" href="http://www.finnair.com/kr/ko/destinations/finland/helsinki?utm_source=finland&utm_medium=specialoffer&utm_campaign=2015summer" target="_blank" tracker-type="finnish-learnmore" tracker="finland">자세히 보기 <span class="arrow"></span></a></p>
      </div>
    </article>
  </div>
</section>
<div ng-include="'/partials/_footer.html'"></div>
