<div ng-include="'/partials/_header.html'"></div>
<section class="terms row">
  <article class="text-center columns">
    <p>
      주체: FINNAIR<br>
      목적 : FINNAIR KOREA 2015 여름 이벤트<br>
      수집될 개인 정보 목차: 이름, 핸드폰 번호<br>
      보관 및 사용 기간: 1년<br>
      <br>
      ※  핀에어코리아는 고객님의 개인 정보를 보호하고, 적절한 서비스를 제공하기 위해 기본방침을 가지고 정보를 수집하고 있습니다. 이벤트에 응모하기 위해서는 개인정보취급방침에 동의해야 합니다.수집된 고객님의 개인 정보는 제3자에게 제공되지 않으며, 고객님이 입력한 정보는 경품 배송 및 문의에 대한 답변의 목적을 위해서만 활용합니다.
      <br>
      <br>
    </p>
  </article>
</section>
<div ng-include="'/partials/_prizes.html'"></div>
<div ng-include="'/partials/_footer.html'"></div>
